<div class="row">
  <div class="col-sm-6 col-md-8 col-lg-9">
    <h1>Over deze applicatie</h1>
    <p>
      Deze applicatie is gemaakt in het kader van het vak 'Clientside web frameworks' van Avans Hogeschool
      Breda.
    </p>
    <h3>CountCoaster</h3>
    <p>
      Met deze applicatie kunnen achtbaangekkies bijhouden hoeveel verschillende achtbanen gedaan hebben en
      kunnen ze zien welke achtbanen heel bijzonder waren (langste, hoogste, etc.) Het toevoegen van een
      achtbaan doen ze met een rating. Deze rating wordt gegeven met sterren, tussen de 0 en 5. Hier is de
      mogelijkheid om een bericht bij te typen maar dat is niet verplicht.<br />
      De informatie over parken wordt ook bijgehouden. Zo is er op het profiel ook te zien in welk land ze de
      meeste achtbanen gedaan hebben en hoeveel verschillende landen.<br />
    </p>
  </div>
  <div class="col-sm-6 col-md-4 col-lg-3">
    <div class="card">
      <div class="d-flex justify-content-center align-items-center">
        <img src="assets/images/ik.png" class="card-img-top rounded-circle border profile-pic" alt="..." />
      </div>
      <div class="card-body">
        <h5 class="card-title">Bas van Mil</h5>
        <p class="card-text">
          Studentnummer: 2123298
        </p>
      </div>
    </div>
  </div>
</div>

<h3>Entiteiten</h3>
<div class="row">
  <div class="col-sm-12 col-md-4">
    <p>Park</p>
    <ul>
      <li>name: string</li>
      <li>id: number</li>
      <li>country: string</li>
      <li>city: string</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>Coaster</p>
    <ul>
      <li>name: string</li>
      <li>id: number</li>
      <li>parkId: number</li>
      <li>manufacturer: string</li>
      <li>model: string</li>
      <li>topspeed: number</li>
      <li>length: number</li>
      <li>height: number</li>
      <li>inversion: number</li>
      <li>duration: time</li>
      <li>gForce: number</li>
    </ul>
  </div>
  <div class="col-sm-12 col-md-4">
    <p>Review</p>
    <ul>
      <li>userId: number</li>
      <li>coasterId: number</li>
      <li>rating: number</li>
      <li>review: string</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <h3>Use Cases</h3>
    <p>De applicatie biedt de volgende functionaliteit.</p>
    <div *ngFor="let UC of useCases">
      <app-usecase [useCase]="UC"></app-usecase>
    </div>
  </div>
</div>
